body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B2224;
  color: #DCE9EB;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #DCE9EB;
}

a:visited {
  color: #DCE9EB;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.blue {
  color: #5555FF;
}

.green {
  color: #55FF55;
}

.red {
  color: #FF5555;
}

.yellow {
  color: #FFFF55;
}
